body {
	font: 28px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.status {
	margin-top: 20px;
}

.grid-container {
	display: inline-grid;
	/*grid-template-columns: repeat(9, 64px);*/
	grid-gap: 0;
}

.grid-container[id="keyboard"] {
	grid-template-columns: repeat(9, 64px);
}

.grid-container[id="display"] {
	grid-template-columns: repeat(22, 64px);
}

.square {
	background: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 44px;
	width: 64px;
	height: 64px;
	padding: 0;
}

.square[space] {
	border: hidden;
}

.square:not([disabled]):hover {
	background: #eee;
}

.square:disabled {
	font-weight: normal;
	color: #aaa;
}

.grid-container[id="display"] .square:disabled {
	color: unset;
	font-weight: bold;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

